<table class="b-menu">
	<tr>
		<td>
			<div>
				<a href="#" class="b-cart-link">Корзина</a>
			</div>
		</td>

		<% languages.each do |item| %>
			<%= render 'content/languages/item', :item => item %>
		<% end %>
	</tr>
</table>