<div class="languages-wrap">
	<div class="languages-scroll" data-action="scrollbar">
		<table class="languages-table">
			<tr>
				<td>
					<ul class="languages">
						<% languages.each do |lang| %>
							<li>
								<a href="#">
									<div class="hint">
										<%= lang.slug %>
									</div>

									<%= lang.native %>
								</a>
							</li>
						<% end %>
					</ul>
				</td>
			</tr>
		</table>
	</div>
</div>