<div class="languages-wrap">
	<div class="languages-scroll" data-action="scrollbar">
		<table class="languages-table">
			<tr>
				<td>
					<ul class="languages">
						<% languages.each do |lang| %>
							<li>
								<% if lang.is_default  %>
									<%= link_to lang.native, locale_set_path(lang.slug) %>
								<% else %>
									<%= content_tag :div, lang.native %>
								<% end %>
							</li>
						<% end %>
					</ul>
				</td>
			</tr>
		</table>
	</div>
</div>