@include inline_list(".blogs");
@include row(".blog-wrap");

.blogs {
	margin: 0 auto;
	width: 800px;
	& > li {
		width: 800px;
		height: 400px;

		.blog-wrap {
			position: relative;

			&.blog-cyan .blog-info {
				background: image-url('content/blog-cyan.png');
			}

			&.blog-brown .blog-info {
				background: image-url('content/blog-brown.png');
			}

			&.blog-gray .blog-info {
				background: image-url('content/blog-gray.png');
				color: #121212;
			}

			&.blog-darkgray .blog-info {
				background: image-url('content/blog-darkgray.png');
			}
		}

		&:hover {
			.blog-border {
				display: block;
			}
		}

		.blog-border {
			display: none;
			top: 5px;
			left: 5px;
			bottom: -5px;
			right: -5px;
			z-index: 1;
			border: 15px solid rgba(0, 0, 0, .3);
			position: absolute;

			.shadow {
				border: 15px solid #ffbe00;
				position: absolute;
				top: -20px;
				left: -20px;
				right: -10px;
				bottom: -10px;
			}
		}

		.blog-img {
			float: left;
			width: 400px;
			height: 400px;

			img {
				width: 100%;
			}
		}

		.blog-info {
			color: #fff;
			float: left;
			width: 400px;
			height: 400px;
			position: relative;
			font-size: 12px;

			.blog-info-wrap {
				padding: 30px;
			}

			h2 {
				margin: 0 0 20px;
				line-height: 1;
				letter-spacing: -2px;
				font: {
					size: 30px;
					weight: bolder;
				}
			}

			.blog-desc {
				line-height: 1.5;
			}
		}

		.blog-category {
			position: absolute;
			bottom: 30px; 
			left: 30px;
			z-index: 3;
		}

		.blog-more {
			position: absolute;
			bottom: 30px;
			right: 30px;
			z-index: 3;
		}

		a {
			color: inherit;
		}
	}	
}

.blog {
	width: 800px;
	font-size: 14px;

	h1 {
		letter-spacing: -3px;
		line-height: 1;
		margin: 0;
		padding: 30px 30px 0;
		text-transform: none;

		font: {
			size: 48px;
			weight: bolder;
		}
	}

	h2 {
		letter-spacing: -1px;
		padding: 30px 30px 0;
		line-height: 1;
		margin: 0;

		font: {
			size: 30px;
			weight: bolder;
		}
	}

	@include inline_list(".img-list");

	p {
		padding: 30px;
		line-height: 1.8;
	}
}