@include inline_list(".foot-icons");

footer {
	position: fixed;
	z-index: 20;
	right: 80px;
	bottom: 30px;
	
	&.absolute {
		position: absolute;
	}
}

.foot-icons {
	a {
		margin-left: 7px;
		display: block;
	}
}
