header {
	padding: 40px 80px 0;
	height: 40px;
	margin-bottom: 10px;
  font-weight: 500;
}

.b-header {
	& > li {
		color: #000;

		.dark & {
			color: #fff;
		}
	}

	a {
		display: block;
		color: inherit;
		text-decoration: none;
	}

	.right {
		float: right;
		margin-right: 0;
		margin-left: 40px;
	}
}

@include inline_list(".b-header");
@include inline_list(".b-menu");

.b-logo {
	display: block;
	width: 154px;
	height: 40px;
	background: image-url('content/logo-white.png') no-repeat;
	margin-right: 180px;
	.dark & {
		background-image: image-url('content/logo-black.png');
	}
}

.b-header-phone {
	.icon {
		background-image: image-url('content/icons-black.png');
		margin-top: 7px;
		margin-bottom: -7px;
		.dark & {
			background-image: image-url('content/icons-white.png');
		}
	}
}

.b-search-link, .b-menu-link {
	margin-left: 10px;
	height: 40px;
	width: 60px;
	text-align: center;
	background: #ededed;
	@include border-radius(5px);

	.icon {
		margin: 7px 0 0 0;
	}
}

.b-menu {
	& > li {
		margin-right: 40px;
		line-height: 40px;

		&.active {
			border-bottom: 3px solid #000;	
			.dark & {
				border-bottom-color: #fff;
			}
		}

		.right & {
			&:first-child {
				margin-left: 0;
			}
			margin-right: 0;
			margin-left: 40px;
		}
	}
}