@import 'shared/mixins';

.hide-on-full,
.show-on-smaller {
    display: none !important;
}

@media (min-width:1025px) and (max-width: 1200px) {
	.hide-on-small-desktops {
		display: none;
	}
}

@media (min-width: 1680px) {
	.blogs {
		width: 1600px;
	}
}

@media (max-width: 1024px) {
	.hide-on-smaller {
		display: none;
	}

	.show-on-smaller {
		display: block !important;
	}

	td.show-on-smaller {
		display: table-cell !important;
	}

	body {
		min-width: 748px;
	}

	header {
		font-size: 12px;
		padding-left: 30px;
		padding-right: 30px;
	}

	.promo {
		width: 670px;
	}

	.hide-on-full {
		display: block !important;
	}

	.b-content-menu {
		position: absolute;
		top: 80px;
		left: 30px;
		right: 30px;
		overflow: hidden;
		display: none;

		&.active {
			display: block;
		}

		& > li {
			background: #fff;
			line-height: 60px;
			border-bottom: 1px solid #d6d6d6 !important;
			color: #000;
			padding-left: 30px;

			&:first-child {
				border-radius: 5px 5px 0 0;
			}

			&:last-child {
				border-radius: 0 0 5px 5px;
				border-bottom: none !important;
			}

			.dark & {
				font-size: 14px; 
				color: #fff;
				border-bottom: 1px solid #292929 !important;
				background: #121212;
				
			}
		}
	}

	@include block_list(".b-content-menu.active");

	.b-logo {
		margin-right: 30px;
	}
	
	.b-header .right-on-smaller {
		float: right;
	}	

	.b-header-phone {
		margin-top: 0;

		.icon {
			background-image: image-url('content/icons-small-black.png');
			margin-bottom: -9px;
			margin-right: 0;
			.dark & {
				background-image: image-url('content/icons-small-white.png');
			}
		}
	}


	.hide-on-smaller {
		display: none;
	}

	.search-results {
		width: 688px;
	}
}

@media (max-width: 768px) {
	body {
		padding-bottom: 24px;
	}
	.container {
		width: 708px;
	}
	.container h1 {
		padding-left: 0;
	}

	.blogs {
		width: 708px;
		& > li {
			height: 308px;
			width: 708px;
			.blog-img {
				height: 308px;
				width: 308px;
			}	
			.blog-info {
				height: 308px;
			}
		}
	}	
}