.hide-on-full {
    display: none !important;
}

@media (max-width: 1023px) {
	body {
		min-width: 748px;
	}
	
	header {
		font-size: 12px;
		padding-left: 30px;
		padding-right: 30px;
	}

	.hide-on-full {
		display: block;
	}

	.b-logo {
		margin-right: 30px;
	}
	.b-header .right-on-smaller {
		float: right;
	}	

	.hide-on-smaller {
		display: none;
	}
}
