@import 'mixins';

body {
	background: image-url('content/bg-white.png') #eee repeat-x top;

	font: {
		family: 'Roboto';
		size: 14px;
	}

	&.black {
		background-image: image-url('content/bg-black.png');
	}
}

@import 'header';