@import 'shared/mixins';
@import 'icons';

html {
	height: 100%;
}


body {
	min-height: 100%;
	background: image-url('content/bg-white.png') #eee repeat-x top;

	font: {
		family: 'Roboto';
		size: 14px;
	}

	&.dark {
		background-image: image-url('content/bg-black.png');
	}
}

@import 'header';
@import 'footer';
@import 'search';

@import 'navigation';
@import 'showroom';