@import 'shared/mixins';
@import 'icons';

body {
	background: image-url('content/bg-white.png') #eee repeat-x top;

	font: {
		family: 'Roboto';
		size: 14px;
	}

	&.dark {
		background-image: image-url('content/bg-black.png');
	}
}

@import 'header';
@import 'search';