<div class="cart-additionals">
	<div class="title">
		Дополнительные продукты
	</div>

	<ul class="cart-additionals-items">
		<% additionals.each do |item| %>
			<%= render 'content/cart/additional_item', :item => item %>
		<% end %>
	</ul>
</div>