<li class="cart-additional-item">
	<div class="info">
		<div class="pic">
			<img src="<%= image_url item[:pic] %>" />
		</div>

		<div class="title">
			<%= item[:title] %>
		</div>

		<div class="desc">
			<%= item[:desc] %>
		</div>

		<div class="buy">
			Добавить в корзину
		</div>
	</div>
</li>