<div class="cart-options" data-type="cart-variants">
  <div class="cart-options-price" data-cart-variants="price">
    <% price = variants.empty? ? good.price : variants.first.price %>
    <%= number_to_currency(price, precision: 0, unit: 'р.') %>
  </div>

  <div class="title">
    <%= T "Стоимость" %>
  </div>

  <ul class="cart-options-items">
    <li>
      <select data-cart-variants="items" data-cart-item="variant">
        <% variants.each do |v| %>
          <%= content_tag :option, v.name, 
              value: v.id, 
              data: {raw_price: v.price, price: number_to_currency(v.price, precision: 0, unit: 'р.')}, 
              selected: (true if v == cart_item.variant) %>
        <% end %>
      </select>
    </li>
  </ul>
</div>