<h2>
	Проекты Антона Цибарева
</h2>

<div class="designer-projects">
	<div class="row">
		<% projects.each do |p| %>
			<%= render 'content/designer/project', :project => p %>
		<% end %>
	</div>
</div>