<div class="page-header">
  <h1>Тестирование эквайринга</h1>
</div>

<ul class="list-unlstyled">
  <li>
    <%= link_to 'Карты', admin_acquiring_card_path %>
  </li>

  <li>
    <%= link_to 'MAC', admin_acquiring_mac_path %>
  </li>
</ul>