<div class="page-header">
  <h1>Тестирование эквайринга</h1>
</div>

<h3>OPTION 2.M</h3>
<ul class="list-unlstyled">
  <li>
    <%= link_to 'Тест 21.1', admin_acquiring_test_path('21_1') %>
  </li>

</ul>