@media (min-width: 1500px) {
	.map {
		max-width: 1400px;
	}
}
@media (max-width: 1239px) {
	body {
		min-width: 1024px;
	}

	.container {
		width: 964px;
	}

	.map {
		background-image: image-url('map/bg-1024.jpg');
		background-position: 30px center;
	}

	.languages-wrap {
		position: absolute;
		right: 0;
	}	

	.logo {
		left: 235px;
		margin: -250px 0 0 -150px;
	}
}

@media (max-width: 1023px) {
	body {
		min-width: 768px;
	}

	.map {
		background-image: image-url('map/bg-768.jpg');
		background-position: 0 center;
	}

	.logo {
		left: 190px;
		margin: -210px 0 0 -150px;
	}

	.container {
		width: 708px;
	}
}