<div class="cart-options" data-type="cart-variants">
  <div class="title">
    <%= T "Варианты" %>
  </div>

  <ul class="cart-options-items">
    <li>
      <select data-cart-variants="items" data-cart-item="variant">
        <% variants.sort_by{|v| v.price}.each do |v| %>
          <%= content_tag :option, v.name, 
              value: v.id, 
              data: {raw_price: v.price, price: number_to_currency(v.price, precision: 0, unit: 'р.'), picture: (v.picture.url(:cart) if v.picture and v.picture.file?)},
              selected: (true if v == cart_item.variant) %>
        <% end %>
      </select>
    </li>
  </ul>
</div>