<div class="showroom" data-action="showroom">
	<% if !defined? controls or (defined? controls and controls != false) %>
		<ul class="showroom-controls" data-action="middle">
			<li>
				<div class="showroom-control" data-showroom="control">
					<i class="control control-left"></i>
				</div>
			</li>
			<li>
				<div class="showroom-control" data-showroom="control" data-showroom-control="right">
					<i class="control control-right"></i>
				</div>
			</li>
		</ul>
	<% end %>

	<div class="showroom-slide" data-showroom="slide">
		<%= render 'content/showroom/promo', :promo => promo if defined? promo %>

		<% if defined? items %>
			<div class="showroom-items">
				<% items.each_with_index do |item, i| %>
					<% if i % 2 == 0 %>
						<div class="showroom-col" data-showroom="item-col">
					<% end %>
							<%= render 'content/showroom/item', :item => item %>
					<% if i % 2 == 1 %>
						</div>
					<% end %>
				<% end %>
			</div>
		<% end %>
	</div>
</div>