<li class="order-item">
	<div class="order-item-info">
		<div class="order-item-pic">
			<img src="<%= image_url(item[:pic]) %>" />
		</div>

		<div class="order-item-title">
			<%= item[:title] %>
		</div>

		<div class="order-item-desc">
			<%= item[:desc] %>
		</div>
	</div>
</li>