<footer>
	<ul class="foot-icons">
		<li>
			<a href="#">
				<i class="social pinterest"></i>
			</a>
		</li>

		<li>
			<a href="#">
				<i class="social facebook"></i>
			</a>
		</li>

		<li>
			<a href="#">
				<i class="social twitter"></i>
			</a>
		</li>
	</ul>
</footer>