<header>
	<ul class="b-header">
		<li>
			<a href="#" class="b-logo"></a>
		</li>

		<li class="right-on-smaller">
			<%= render :partial => 'menu' %>
		</li>

		<li class="b-header-phone">
			<i class="icon icon-phone"></i> 8 800 123 4567
		</li>

		<li class="right">
			<a href="#" class="b-search-link">
				<i class="icon icon-search"></i>
			</a>
		</li>

		<li class="right">
			<%= render :partial => 'languages' %>
		</li>

	</ul>

	<div class="clearfix"></div>
</header>