<header>
	<table class="b-header">
		<tr>
			<td width="150px">
				<a href="/" class="b-logo"></a>
			</td>

			<td class="space"></td>

			<td width="1px" class="hide-on-smaller">
				<%= render 'content/menu/menu' %>
			</td>

			<td class="space"></td>

			<td width="1px" class="hide-on-small-desktops">
				<div class="nowrap b-header-phone">
					<i class="icon icon-phone"></i> 8&nbsp;800&nbsp;123&nbsp;4567
				</div>
			</td>

			<td class="space"></td>

			<td width="1px">
				<%= render 'content/languages/languages' %>
			</td>

			<td class="space"></td>

			<td width="60px">
				<a href="#" class="b-search-link">
					<i class="icon icon-search"></i>
				</a>
			</td>

			<td class="show-on-smaller" width="60px">
				<%= render 'content/menu/responsive' %>
			</td>
		</tr>
	</table>
</header>