<%= render partial: 'views' %>
<script type="text/javascript">
  var fetchUrl = "<%= catalog_fetch_path %>";
</script>

<div class="showroom" data-action="showroom">
  <% if !defined? controls or (defined? controls and controls != false) %>
    <ul class="showroom-controls" data-action="middle">
      <li>
        <div class="showroom-control" data-showroom="control">
          <i class="control control-left"></i>
        </div>
      </li>
      <li>
        <div class="showroom-control" data-showroom="control" data-showroom-control="right">
          <i class="control control-right"></i>
        </div>
      </li>
    </ul>
  <% end %>

  <div class="showroom-slide" data-showroom="slide" style="margin-left:60px" data-region="goods">
    <%= render 'promo', :promo => promo if defined? promo %>

    <% if false && @items %>
      <div class="showroom-items">
        <% @items.each_with_index do |item, i| %>

          <% if i % 2 == 0 %>
            <div class="showroom-col" data-showroom="item-col">
          <% end %>
          
              <%= render 'item', :item => item %>

          <% if i % 2 == 1 %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>