<div class="container">
	<div class="blog">
		<h1>
			<%= @blog[:title] %>
		</h1>

		<div class="blog-info">
			<%= @blog[:content].html_safe %>
		</div>
	</div>

	<%= render 'content/comments/comments' %>
</div>