<div class="cart-options">
	<div class="cart-options-price">
		$560
	</div>

	<div class="title">
		Опции
	</div>

	<ul class="cart-options-items">
		<% options.each do |item| %>
			<%= render 'content/carts/option_item', :item => item %>
		<% end %>
	</ul>
</div>