<div class="comments">
	<h1>Комментарии</h1>

	<ul class="comments-list">
		<li>
			<div class="comment-info">
				<div class="comment-author">
					Myriam S. Jackson
				</div>

				<div class="comment-ts">
					Июль 18, 2013 at 1:30 am
				</div>
			</div>

			<div class="comment-content">
				HTTP заголовок может содержать параметр Range, где задается смещение и длина. Если есть возможность задавать заголовки то можно настроить обычный сервер на подобные манипуляции.
			</div>
		</li>

		<li>
			<div class="comment-info">
				<div class="comment-author">
					Evelyn M
				</div>

				<div class="comment-ts">
					Июль 13, 2013 at 8:55 am
				</div>
			</div>

			<div class="comment-content">
				Вы или указывайте Content-Length, либо Transfer-Encoding: chunked. Или попробуйте отвечать HTTP/1.0.
			</div>
		</li>

		<li>
			<div class="comment-info">
				<div class="comment-author">
					Promila Shastri
				</div>

				<div class="comment-ts">
					Июль 10, 2013 at 8:55 am
				</div>
			</div>

			<div class="comment-content">
				Я так понял, что проблема на стороне браузера: если браузер отправил Range запрос, то он вряд ли станет считать, что ему пришел целый файл, и не станет обрабатывать полученный кусок. Если мы сами себе злобные буратины, то можно полученные данные через canvas отобразить. Но это ж костыль, лучше offs-len через URL передавать, как и предлагается. Видя такие комменты подсознание отказывается воспринимать асм, хотя ты и видишь код и все понимаешь) Вёзёт вам! Смотрите асм и всё понимаете. А я вот за 15 лет всё напрочь забыл	
			</div>
		</li>
	</ul>
</div>