<ul class="cart-items">
	<% items.each do |item| %>
		<%= render 'content/cart/item', :item => item %>
	<% end %>

	<li class="cart-item cart-item-btn">
		<div class="cart-btn">
			<div class="btn">
				Продолжить оформление
			</div>
		</div>
	</li>
</ul>